<% if @product.images.empty? %>
  <%= product_image(@product, itemprop: 'large') %>
<% else %>
  <%= link_to(
      product_image(@product, itemprop: 'image', class: 'zoom-click'),
      main_app.url_for(@product.images.first.url(Spree::ProductZoom::Config.default_image_style)),
      class: 'zoom-image large-image zoom-click',
      rel: 'gallery'
    )
  %>
  <br />
  <%= link_to(
      image_tag('zoom.gif', class: 'click-to-zoom'),
      main_app.url_for(@product.images.first.url(Spree::ProductZoom::Config.default_image_style)),
      class: 'zoom-image click-to-zoom',
      rel: 'gallery'
    )
  %>

  <div id="gallery" style="display:none;">
    <% @product.images.each do |img| %>
        <%= link_to(
            image_tag(main_app.url_for(img.url(:product))),
            main_app.url_for(img.url(Spree::ProductZoom::Config.default_image_style)),
            class: 'fancybox',
              rel: 'gallery'
          )
        %>
    <% end %>
    <% if @product.has_variants? %>
      <% @product.variant_images.each do |i| %>
        <% next if @product.images.include?(i) %>
        <%= link_to(
            image_tag(main_app.url_for(i.url(:product))),
            main_app.url_for(i.url(Spree::ProductZoom::Config.default_image_style)),
            class: 'fancybox',
            rel: 'gallery'
          )
        %>
      <% end %>
    <% end %>
  </div>
<% end %>
